services:
  interchange:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: interchange
    ports:
      - "3000:3000"
    # volumes:
    #   - ./.env:/app/.env:ro
    environment:
      - GIN_MODE=release
      - APP__ENV=development
      - APP__PORT=3000
      - APP__SECRET_KEY=aW50ZXJjaGFuZ2Vfc2VjcmV0X2tleQ==
      - APP__NAME="interchange"
      - APP__VERSION="1.0.6"
      - APP__SWAGGER_ENABLED=true
      - LOG__LEVEL="info"
      - MONGODB__URI=mongodb://192.168.128.208:30000/
      - MONGODB__OPTIONS=authSource=admin&retryWrites=true&w=majority
      - REDIS__HOST=192.168.128.208
      - REDIS__PORT=30010
      - REDIS__DB=1
      - TELEMETRY__METRIC__ENABLED=true
      - TELEMETRY__METRIC__BUCKETS=0.1,0.2,0.5,1,2,5
      - TELEMETRY__TRACE__ENABLED=true
      - TELEMETRY__TRACE__ENDPOINT_URL=http://192.168.128.208:4318
      - FLUENTD__HOST=192.168.128.208
      - FLUENTD__PORT=24224
      - FLUENTD__TAG_PREFIX="uptown"
      - FLUENTD__TIMEOUT=3000
    restart: always
